.apparatus-container {
    .apparatus-menu h2 { display: none; }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, code { color: inherit; }
    img { max-width: 100%; height: auto; }
    blockquote { margin-left: 1em; border-left: 5px solid #dee2e6; padding-left: 1em; }
    .blog-visual img { float: left; margin-right: 1em; }
    .post-detail .blog-visual img { float: none; margin-bottom: 1em; }
    .post-item { clear: both; }
}
