.container .apparatus-menu h2 { display: none; }
.container h1 a { color: inherit; }
.container h2 a { color: inherit; }
.container h3 a { color: inherit; }
.container h4 a { color: inherit; }
.container h5 a { color: inherit; }
.container h6 a { color: inherit; }
