{% load sekizai_tags static compress %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static "apparatus/css/highlight.min.css" %}">{% endaddtoblock %}
{% addtoblock "js" %}{% compress js file codesnippet %}
<script src="{% static "apparatus/js/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endcompress %}{% endaddtoblock %}
<pre id="codesnippet-{{ instance.pk }}"><code{% if instance.programming_language %} class="language-{{ instance.programming_language.code }}"{% endif %}>{{ instance.body }}</code></pre>
