# Checklist
# - Add ./env/secrets/mysql/mysql-apparatus-user and ./env/secrets/mysql/mysql-apparatus-password
# - Add ./env/secrets/apparatus/envfile containing SECRET_KEY and DATABASE_URL

version: "3"
services:
  mysql:
    volumes:
    - "./env/secrets/mysql:/run/secrets:ro"
  apparatus:
    volumes:
    - "./env/secrets/apparatus:/run/secrets:ro"
