# Coming from django-cms
django-cms>=3.7,<3.8
djangocms-admin-style>=1.5,<1.6
django-treebeard>=4.0,<5.0
djangocms-text-ckeditor>=3.7,<4.0
djangocms-link>=2.5,<2.7
djangocms-style>=2.2,<2.4
djangocms-googlemap>=1.3,<1.5
djangocms-video>=2.1,<2.4
djangocms-file>=2.3,<2.5
djangocms-picture>=2.3,<2.5
djangocms-bootstrap4>=1.5,<1.7
easy_thumbnails
django-filer>=1.3
Django<2.3
django-classy-tags>=0.9
django-sekizai>=1.0
django-mptt>0.9
html5lib>=1.0.1
Pillow>=3.0
six
pytz

# Other requirements
html5lib>=1.0.1
https://github.com/jasujm/djangocms-blog/archive/d2780d92a7a9a59419ee2af742cda2ee3e5ea4c6.zip#egg=djangocms-blog
uwsgi
django-environ
mysqlclient
djangocms-page-meta
django-debug-toolbar
django-fullurl
django-htmlmin
django-compressor
django-libsass
