{% load cms_tags menu_tags sekizai_tags i18n static page_meta_tags fullurl compress %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block meta %}
        {% page_meta request.current_page as page_meta %}
        {% include "djangocms_page_meta/meta.html" with meta=page_meta %}
        {% endblock meta %}
        {% if not meta.image and not page_meta.image %}<meta property="og:image" content="{% fullstatic "apparatus/img/logomark.png" %}">{% endif %}
        {% compress css file apparatus %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "apparatus/apparatus.scss" %}">
        {% endcompress %}
        <link rel="icon" href="{% static "apparatus/img/favicon.png" %}">
        {% render_block "css" %}
        <script src="https://kit.fontawesome.com/fd833d9c40.js" crossorigin="anonymous"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async
                src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container apparatus-container">
            <header class="apparatus-header mt-1">
                <h1 class="m-1"><a href="/"><img src="{% static "apparatus/img/logo.png" %}" alt="Apparatus"></a></h1>
            </header>
            <nav class="apparatus-menu navbar navbar-expand-sm bg-light mt-2 border-top border-bottom">
                {% show_menu 0 100 100 100 "apparatus/mainmenu.html" %}
            </nav>
            <main class="apparatus-content mt-2">
                {% block content_base %}{% endblock content_base %}
            </main>
        </div>
        {% compress js file apparatus %}
        <script src="{% static "apparatus/js/jquery-3.4.1.slim.min.js" %}"></script>
        <script src="{% static "apparatus/js/popper.min.js" %}"></script>
        <script src="{% static "apparatus/js/bootstrap.min.js" %}"></script>
        {% endcompress %}
        {% render_block "js" %}
    </body>
</html>
