{% load cms_tags menu_tags sekizai_tags i18n static page_meta_tags fullurl compress %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block meta %}
        {% page_meta request.current_page as page_meta %}
        {% include "djangocms_page_meta/meta.html" with meta=page_meta %}
        {% endblock meta %}
        {% if not meta.image and not page_meta.image %}<meta property="og:image" content="{% fullstatic "apparatus/img/logomark.png" %}">{% endif %}
        {% compress css file apparatus %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "apparatus/apparatus.scss" %}">
        {% endcompress %}
        <link rel="icon" href="{% static "apparatus/img/favicon.png" %}">
        {% render_block "css" %}
        <script src="https://kit.fontawesome.com/fd833d9c40.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container apparatus-container">
            <header class="apparatus-header mt-1">
                <h1 class="m-1"><a href="/"><img src="{% static "apparatus/img/logo.png" %}" alt="Apparatus"></a></h1>
            </header>
            <nav class="apparatus-menu navbar navbar-expand-sm bg-light mt-2 border-top border-bottom">
                {% show_menu 0 100 100 100 "apparatus/mainmenu.html" %}
            </nav>
            <main class="apparatus-content mt-2">
                {% block content_base %}{% endblock content_base %}
            </main>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% render_block "js" %}
    </body>
</html>
