.container h1 a { color: #212529; }
.container h2 a { color: #212529; }
.container h3 a { color: #212529; }
.container h4 a { color: #212529; }
.container h5 a { color: #212529; }
.container h6 a { color: #212529; }
